{% extends "base.html" %}
{% block title %}
Sign Up
{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center"> Sign Up</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        >
        <label for="office">Office</label>
            <select name="Office"
                    required
                    class="form-control"
                    id="office">
              <option value="" disabled selected >Office</option>
              <option value="Chairman of Department's Office">Chairman of Department's Office</option>
              <option value="Dean's Office">Dean's Office</option>
              <option value="Principal's Office">Principal's Office</option>
              <option value="EMB 103">EMB 103</option>
              <option value="EMB 104">EMB 104</option>
            </select>

        <label for="password1">Password</label>
        <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder=""
        >
        <label for="password2">Confirm Password</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder=""
        >
        </br>
        <button
            type="submit"
            class="btn btn-primary"
        >
            Sign Up
        </button>
    </div>
</form>
{% endblock %}